.App {
  text-align: center;
}

img{
  width: 10vw;
  height: 20vh;
}
.parent-box{
  display: block;
}

.children{
  display: flex;
  flex-direction: row;

}

div{
  display: inline-block;
}

.search-form div{
  display: block
}
